* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  background-color: #a1a1a1;
  min-height: 100vh;
}

.section__padding {
  padding: 3vw 6vw;
}

.content__container {
  display: flex;
}

.input__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #e7e6e6;
}

.preview__container {
  flex: 1;
}
